<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Backbone App</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<!-- NAVIGATION MENU -->
	<div id="navigation_menu"></div>

 	<script id="menu" type="text/template">
        <div class="container-fluid">
            <div class="navbar-header">
            	<ul class="nav navbar-nav">
                        <li id="logo" class="logo">
                            <img id="logo" src="img/logo.png" style="width: 180px; height: 40px;">
                    	</li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li id="my_cart">
                        <a href="#<%= link %>"><img id="cartIcon" src="img/cart.png">My cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </script>

	<!-- FILTER AND SORT -->
     <div class="container-fluid">
        <div id="filters" class="row">
            <div id="sort" class="col-md-6">Sort by:
                <select id="sort-dropdown">
                	<option value="all">All</option>
                  	<option value="price_ascending">Price (lowest->highest)</option>
                  	<option value="price_descending">Price (highest->lowest)</option>
                  	<option value="model_ascending">Model (A-Z)</option>
                  	<option value="model_descending">Model (Z-A)</option>
                </select>
            </div>

            <div id="filter" class="col-md-6">Filter by manufacturer:    
                <select id="filter-dropdown">
                	<option value="all">All</option>
					<option value="samsung">Samsung</option>
                  	<option value="apple">Apple</option>
                  	<option value="huawei">Huawei</option>
                  	<option value="lg">LG</option>
                </select>
            </div>
        </div>
    </div>
        
        
    <!-- ALL PHONES -->
    <div class="container main-container">
    	<div id="allPhones" class="row"></div>
    </div>

	<script id="phoneElement" type="text/template">
		<div class="thumbnail">
        	<img src="<%= img %>" alt="<%= model %>" class="image"/>
            <ul class="text-center list-unstyled">
            	<li class="phoneInfo"><strong>Model:</strong> <%= model %></li>
 				<li class="phoneInfo"><strong>Manufacturer:</strong> <%= manufacturer %></li>
                <li class="phoneInfo"><strong>Price:</strong> $<%= price %></li>
                <li class="phoneInfo"><strong>Color:</strong> <%= color %></li>
            </ul>
			<div id="button-more">
               	<a href="#<%= link %>" id="more-info-btn" class="button js-button" role="button">More info</a>  
       		</div>
		</div>
	</script>


	<!-- PHONE PREVIEW -->
	<div id="phonePreviewSection" class="container main-container"></div>
        
   	<script id="phonePreview" type="text/template">
   		<div class="col-md-4">
            <img src="<%= img %>" alt="<%= model %>" class="imagePreview center-block"/>
		</div>
		<div class="col-md-5 phonePreviewDetais">
			<strong class="previewTitle"><%= manufacturer %> <%= model %></strong>
            <ul id="previewInfo">
 	           <li class="phoneInfo"><strong>Price:</strong> $<%= price %></li>
               <li class="phoneInfo"><strong>Color:</strong> <%= color %></li>
               <li class="phoneInfo"><strong>Size:</strong> <%= size %></li>
               <li class="phoneInfo"><strong>Weight:</strong> <%= weight %></li>
               <li class="phoneInfo"><strong>CPU:</strong> <%= cpu %></li>
               <li class="phoneInfo"><strong>Primary camera:</strong> <%= primaryCamera %></li>
               <li class="phoneInfo"><strong>Secondary camera:</strong> <%= secondaryCamera %></li>
            </ul>
		</div>
		<div class="col-md-3">
			<a href="#<%= link %>" id="add-btn" class="button js-button" role="button">Add to cart</a>
        </div>
	</script>


	<!-- SHOPPING CART -->
	<div id="shoppingCartSection" class="container main-container">
		<!-- <div id="allCartItems" class="row"></div> -->
	</div>
	
	<script id="cartItem" type="text/template">
       	<div class="col-md-2">
       	<strong><%= item.phone.manufacturer %> <%= item.phone.model %> </strong>
       	</div>
		<div id="button-add" class="col-md-1 text-center">
               	<a href="#" id="add-btn" class="button-add js-button" role="button">Add</a>  
       	</div>
		<div class="col-md-1 text-center">
			<strong> <%= item.quantity %> </strong>
		</div>
		<div id="button-remove" class="col-md-1">
               	<a href="#" id="remove-btn" class="button-remove js-button" role="button">Remove</a>  
       	</div>

	</script>

    
    
    <!-- FOOTER -->
    <section class="col-md-12 footer">
       <p> Copyright &copy; 2017 Seavus</p>
    </section>


    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
     <script src="js/libs/bootstrap.js"></script>

    <script type="text/javascript" src="resource/phonesData.js"></script>

    <script src="js/models/SinglePhoneModel.js"></script> 
    <script src="js/models/PhonePreviewModel.js"></script>
    <script src="js/models/NavigationMenuModel.js"></script>
    <script src="js/models/CartItemModel.js"></script>
    <script src="js/views/SinglePhoneView.js"></script> 
    <script src="js/views/AllPhonesView.js"></script> 
    <script src="js/views/PhonePreviewView.js"></script>
    <script src="js/views/NavigationMenuView.js"></script>
    <script src="js/views/ShoppingCartView.js"></script>
    <script src="js/views/CartItemView.js"></script>
    <script src="js/collections/AllPhonesCollection.js"></script> 
    <script src="js/collections/CartItemsCollection.js"></script> 
    <script src="js/routers/Router.js"></script>
    <script src="js/main/PhoneStoreApp.js"></script>
    <script src="js/handlers/FilterSortHandler.js"></script>

</body>
</html>