body {
	background-color: #eeeeee;
	font-family: Tahoma;

}

.nav-menu{
  
    border-width: 0 0 1px;
    background-color: #383838;
}

.logo{
	padding-top: 10px;
}

#logo-text{
    color: white;
    margin-left: 10px;
    font-size: 16px;
}


#cartIcon {
	width: 30px;
	height: 30px;
}

h1 {
	font-weight: 100;
}

.header {
	height: 100px;
	border-bottom: 1px solid rgb(255, 255, 255);
}

hr {
	width: 500px;
}

#filters {
	margin-top: 60px;
    padding: 20px;
	background-color: #383838;
}

#previewInfo{
	float: right;
	padding: 10px;
}

#sort-dropdown, #filter-dropdown {
	display: inline-block;
	padding: 4px 3px 5px 5px;
	width: 200px;
	outline: none;
	color: black;
	border: 1px solid #C8BFC4;
	border-radius: 4px;
	box-shadow: inset 1px 1px 2px #ddd8dc;
	background-color: white;
}

#sort{
    color: white;
    padding-left: 300px;
}

#filter{
    color: white;
}

#button-more{
    padding-bottom: 10px;
    padding-top: 10px;
}


.footer {
	background-color: #383838;
	padding-left: 50px;
	padding-right: 50px;
	height: 80px;
}

.footer p {
	padding-top: 30px;
	margin: 0;
	text-align: center;
    color: white;   
}

.phoneItem {
	display: inline-block;
	margin: 10px 0px;
}

#phoneElement{
    margin: auto;
}

#allPhones{
    margin-top: 50px;
}

.image {
	max-width: 150px;
	max-height: 200px;
	margin: auto;
	padding: 10px;
}

.button {
	background-color: darkred;
	border-radius: 5px;
	color: white;
	padding: .5em;
	text-decoration: none;
	margin-left: 6.2em;
}

.button:focus, .button:hover {
	color: white;
    background-color: black;
    text-decoration: none;
}

