		body{
			background: url("../img/background.jpg") no-repeat;
            color: white;
            font-family: Tahoma;
            margin: 0;
        }


        ul.menu{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            padding-left: 50px;
            padding-right: 50px;
			padding-top: 20px;
        }
        .menu li {
            float: right;
        }
				

        .menu li a {
            display: block;
            color: #D50000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
		
		.menu #cartIcon{
			width: 20px;
			height: 20px;
		}

        h1{
            font-weight: 100;
        }
		
		.header{
			height: 100px;
			border-bottom: 1px solid rgb(255,255,255);
		}


        hr{
            width: 500px;
        }

        
        #filters{
            max-width: 80%;
            margin: auto;
            padding-top: 20px;
            
        }
        #sort-dropdown, #filter-dropdown{
            display: inline-block;
            padding: 4px 3px 5px 5px;
            width: 200px;
            outline: none;
            color: black;
            border: 1px solid #C8BFC4;
            border-radius: 4px;
            box-shadow: inset 1px 1px 2px #ddd8dc;
            background-color: white;
        }

        .topics{
            max-width: 80%;
            margin: auto;
            color: black;
            text-align: left;
            padding-bottom: 100px;
        }

        .topics ul{
            list-style-type: none;
        }
		
		.topics span{
			color: #3BB9FF;
		}

        .topics h1, .topics span {
            font-size: 20pt;
        }
		
		.topics p{
			margin-top: 0;
		}


        .topics div{
            display: inline-block;
            margin: 15px;
        }
		
		.topics td{
			padding-right: 10px;
		}

        .footer{
            background-color: #333;
            padding-left: 50px;
            padding-right: 50px;
            height: 80px;
        }

        .footer p{
            padding-top: 30px;
			margin: 0;
			text-align: center;
        }

        .phoneItem{
            display:inline-block;
            margin: 10px 0px;
        }

        .image{
            max-width: 150px;
            max-height: 200px;
            margin: auto;
            padding: 10px;
        }
		
        .button {
          background-color: darkred;  
          border-radius: 5px;
          color: white;
          padding: .5em;
          text-decoration: none;
          margin-left: 3em;
        }

        .button:focus,
        .button:hover {
          background-color: #D50000;
        }


        @media screen and (max-width:1280px){

          .topics div{
              display: block;
                  width: 100%;

          }
        }
		